:root {
  --color-01: #1B69B4;
  --color-02: #0a3054;
  --color-03: #F8F8F8;
  --color-04: #040303;
  --color-05: #68B4E4;
}

.bg-principal {
  background-color: var(--color-01);
}

.bg-seccion {
  background-color: var(--color-03);
}

/* Boton personalizado */
.btn-principal {
  background-color: var(--color-01);
  color: #FFF !important; 
}
.btn-principal:hover {
  background-color: var(--color-02);
}

/* Links NavBar */
.nav-link{
  font-size: 1.1rem;
  font-weight: 600;
}

/* Slider */
.carousel-item img {
  max-height: 80vh; 
  object-fit: cover; 
}

.carousel-caption h5 {
  font-size: 2.5rem; 
  font-weight: 700; 
}

.carousel-caption p {
  font-size: 1.25rem;
  font-weight: 400; 
}


.carousel-overlay-container {
  position: relative; 
  width: 100%;
  height: 100%;
}

.carousel-overlay-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.carousel-item img {
  height: 100%; 
  object-fit: cover; 
}

.carousel-caption {
  z-index: 2; 
}

.seccion-contenido {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    border-left: 4px solid #68B4E4;
}
.seccion-contenido h2 {
    color: #1B69B4;
    margin-bottom: 1rem;
}
.imagen-seccion {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagen-seccion {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.dark-mode-btn button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: relative;    
    border-radius: 50%;
    padding-left: 1.5rem;
    transition: background-color 0.3s;
}

.dark-mode-btn i {
    position: relative;
    z-index: 1;
    color: #f1c40f; 
    transition: color 0.3s;
}


body.dark-mode .dark-mode-btn button::before {
    background-color: rgba(255, 255, 255, 0.1);
}



body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;    
}

body.dark-mode .nav-link{
    color: #f0f0f0 !important;    
}

body.dark-mode .navbar{
    background-color: #1f1d1d !important;
    color: #f0f0f0 !important;    
}

body.dark-mode .bg-seccion {
    background-color: #121212 !important;
}

body.dark-mode .seccion-contenido {
    background-color: #2d2d2d;  
    color: #ffffff;  
}

body.dark-mode .card {
    background-color: #2d2d2d;  
    color: #ffffff;  
    border-color: #444;  
}

body.dark-mode .card-title {
    color: #68B4E4;  
}

body.dark-mode .card-text {
    color: #e0e0e0;  
}


body.dark-mode .dark-mode-btn i {
    color: #ffffff; 
}
